# 1. Игнорировать всё по умолчанию
*

# 2. НЕ игнорировать директории, чтобы Git мог в них заглянуть
!*/

# 3. НЕ игнорировать файлы с нужными расширениями
!*.ipynb
!*.csv
!*.mac
!*.md

# 4. Не забудьте оставить сам .gitignore и, возможно, README
!/.gitignore
!/README.md