# 1. Игнорировать всё по умолчанию
*

# 2. НЕ игнорировать директории, чтобы Git мог в них заглянуть
!*/

# 3. НЕ игнорировать файлы с нужными расширениями
!*.ipynb
!*.csv
!*.mac
!*.md
!*.py

# 4. Не игнорировать следующие папки/файлы
!/.gitignore
!/README.md
!P29/ideal_vint/*.txt
!*.pdf
# !/src/**

# 5. Отдельно игнорировать следующие папки/файлы
/.venv